<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classContenant#uid#" id="idResume#uid#">

    <div class="classFlex#uid#">

      <div class="classTuile#uid#">

        <a href="#eqLink#" <span id="idNomObjet#uid#" class="cursor">#name_display#</span></a>

      </div>

    </div>
    <div class="classFlex#uid#">

      <div class="classTuile#uid#">
        <img class="classStatut#uid# cursor" id="idStatutOn#uid#" src="plugins/chauffage/core/img/on.svg">
        <img class="classStatut#uid# cursor" id="idStatutOff#uid#" src="plugins/chauffage/core/img/off.svg">

        <span id="idStatutActuel#uid#"></span></br>

      </div>

    </div>

    <div class="classFlex#uid#">

      <div class="classDemiTuile#uid#">
        <img class="classMode#uid#" id="idMode#uid#" src="plugins/chauffage/core/img/flamme.svg">

        <div class="classTemperature#uid#" data-cmd_id="#idTemperature#">
          <span id="idTemperature#uid#"></span>
        </div>

        <div class="classConsigne#uid#">

          <img id="idPlus#uid#" class="classFleches#uid#" src="plugins/chauffage/core/img/plus.svg">
          <span id="idConsigne#uid#" class="classValeurConsigne#uid#"></span>
          <img id="idMoins#uid#" class="classFleches#uid#" src="plugins/chauffage/core/img/moins.svg">

        </div>

        <span class="classLibelleTuile#uid#">Chauffage</span>

      </div>

      <div class="classDemiTuile#uid#">

        <div class="classTemperature#uid#" data-cmd_id="#idTemperatureExterieure#">
          <span id="idTemperatureExterieure#uid#"></span>
        </div>

        <span id="idNextOnDate#uid#"></span>

        <span class="classLibelleTuile#uid#">Extérieur</span>

      </div>

    </div>

  </div>

</div>

<style>
  .classContenant#uid# {
    width: 100%;
    height: 100%;
    background-color: #couleurFond#;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #couleur#;
  }

  .classFlex#uid# {
    display: flex;
    justify-content: space-around;
  }

  .classTuile#uid# {
    width: 96%;
    height: 40px;
    position: relative;
    margin-top: 8px;
    border: 1px solid #808080;
    border-radius: 8px;
  }

  .classDemiTuile#uid# {
    width: 46%;
    height: 150px;
    margin-top: 8px;
    position: relative;
    border: 1px solid #808080;
    border-radius: 8px;
  }

  .classLibelleTuile#uid# {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #808080;
    bottom: 5px;
  }

  #idNomObjet#uid# {
    position: absolute;
    width: 65%;
    top: 10px;
    left: 50px;
    text-align: center;
    font-size: 14px;
    color: #808080 !important;
  }

  .classStatut#uid# {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 3px;
    filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
  }

  .classStatut#uid#:hover {
    filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
  }

  #idStatutActuel#uid# {
    position: absolute;
    width: 70%;
    top: 10px;
    left: 30px;
    text-align: center;
    font-size: 14px;
  }

  .classMode#uid# {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 3px;
    filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
  }

  .classTemperature#uid# {
    position: absolute;
    height: 30px;
    top: 5px;
    right: 5px;
    text-align: right;
    font-size: 18px;
    color: #808080;
  }

  .classConsigne#uid# {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    top: 5px;
  }

  .classFleches#uid# {
    width: 50px;
    height: 50px;
    filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
  }

  .classFleches#uid#:hover {
    filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
  }

  .classValeurConsigne#uid# {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 30px;
    margin-top: -8px;
  }

  #idNextOnDate#uid# {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #808080;
    top: 30px;
  }
</style>

<script type="text/javascript">

  // Statut
  //
  jeedom.cmd.addUpdateFunction('#idStatut#', function (_options) {
    if ((is_object(cmd1 = document.getElementById('idStatutOn#uid#'))) &&
      (is_object(cmd2 = document.getElementById('idStatutOff#uid#'))) &&
      (is_object(cmd3 = document.getElementById('idStatutActuel#uid#')))) {
      if (_options.value == "On") {
        cmd1.style.display = 'block';
        cmd2.style.display = 'none';
        cmd3.innerHTML = 'Mode On'
      }
      else {
        cmd1.style.display = 'none';
        cmd2.style.display = 'block';
        cmd3.innerHTML = 'Mode Off'
      }
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idStatut#', value: '#statut#', display_value: '#statut#' }]);

  // Mode On
  //
  el = document.getElementById('idStatutOn#uid#');
  el.removeEventListener('click', eventStatutOff);
  el.addEventListener('click', eventStatutOff);

  function eventStatutOff() {
    jeedom.cmd.execute({
      id: '#idStatutOff#'
    });
  };

  // Mode Off
  //
  el = document.getElementById('idStatutOff#uid#');
  el.removeEventListener('click', eventStatutOn);
  el.addEventListener('click', eventStatutOn);

  function eventStatutOn() {
    jeedom.cmd.execute({
      id: '#idStatutOn#'
    });
  };

  jeedom.cmd.addUpdateFunction('#idTemperature#', function (_options) {
    if ((is_object(cmd = document.getElementById('idTemperature#uid#')))) {
      cmd.innerHTML = Math.round(_options.value * 10) / 10 + '°';
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idTemperature#', value: '#temperature#', display_value: '#temperature#' }]);

  jeedom.cmd.addUpdateFunction('#idTemperatureExterieure#', function (_options) {
    if ((is_object(cmd = document.getElementById('idTemperatureExterieure#uid#')))) {
      cmd.innerHTML = Math.round(_options.value * 10) / 10 + '°';
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idTemperatureExterieure#', value: '#temperatureExterieure#', display_value: '#temperatureExterieure#' }]);

  jeedom.cmd.addUpdateFunction('#idMode#', function (_options) {
    if ((is_object(cmd = document.getElementById('idMode#uid#')))) {
      if (_options.value == "Chauffe") {
        cmd.style.display = 'block';
      }
      else {
        cmd.style.display = 'none';
      }
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idMode#', value: '#mode#', display_value: '#mode#' }]);

  jeedom.cmd.addUpdateFunction('#idConsigne#', function (_options) {
    if ((is_object(cmd = document.getElementById('idConsigne#uid#')))) {
      cmd.innerHTML = Math.round(_options.value * 10) / 10 + '°';
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: '#consigne#', display_value: '#consigne#' }]);

  jeedom.cmd.addUpdateFunction('#idNextOnDate#', function (_options) {
    if ((is_object(cmd = document.getElementById('idNextOnDate#uid#')))) {
      cmd.innerHTML = _options.value;
    }
  });
  jeedom.cmd.refreshValue([{ cmd_id: '#idNextOnDate#', value: '#nextOnDate#', display_value: '#nextOnDate#' }]);

  // Moins-Plus consigne température
  //
  document.getElementById("idMoins#uid#").onclick = function () {
    if (is_object(cmd = document.querySelector('#idConsigne#uid#'))) {
      var min = ('#minConsigne#' == '') ? Number.MIN_VALUE : parseFloat('#minConsigne#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
      if (parseFloat(cmd.innerHTML) >= min + stepConsigne) {
        jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: parseFloat(cmd.innerHTML) - stepConsigne, display_value: parseFloat(cmd.innerHTML) - stepConsigne }]);
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
        });
      } else if (parseFloat(cmd.innerHTML) > min) {
        jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: min, display_value: min }]);
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
        });
      }
    }
  };

  document.getElementById("idPlus#uid#").onclick = function () {
    if (is_object(cmd = document.querySelector('#idConsigne#uid#'))) {
      var max = ('#maxConsigne#' == '') ? Number.MAX_VALUE : parseFloat('#maxConsigne#');
      var stepConsigne = (isNaN(parseFloat('#stepConsigne#'))) ? 0.5 : parseFloat('#stepConsigne#');
      if (parseFloat(cmd.innerHTML) <= max - stepConsigne) {
        jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: parseFloat(cmd.innerHTML) + stepConsigne, display_value: parseFloat(cmd.innerHTML) + stepConsigne }]);
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
        });
      } else if (parseFloat(cmd.innerHTML) < max) {
        jeedom.cmd.refreshValue([{ cmd_id: '#idConsigne#', value: max, display_value: max }]);
        jeedom.cmd.execute({
          id: '#idThermostat#', value:
            { slider: cmd.innerHTML.replace("°", "").replace(" ", "") }
        });
      }
    }
  };

</script>